.transactionHistory {
  width: 700px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.transactionHistory th,
.transactionHistory td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.transactionHistory th {
  font-weight: normal;
  color: #ffffff;
  background-color: #80b3ec;
  width: calc(100% / 3);
}

.transactionHistory th:first-child,
.transactionHistory td:first-child {
  padding-left: 80px;
  text-align: left;
}

.transactionHistory th:nth-child(2) {
  border-right: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
}

.transactionHistory tr:nth-child(odd) td:nth-child(2) {
  border-right: solid 1px #e0e0e7;
  border-left: solid 1px #e0e0e7;
}

.transactionHistory tr:nth-child(even) td:nth-child(2) {
  border-right: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
}

.transactionHistory tr {
  color: #616161;
}

.transactionHistory tr:nth-child(odd) {
  background-color: #f8f8fa;
}

.transactionHistory tr:nth-child(even) {
  background-color: #e1e6ec;
}
